/**
 * Placeholder
 */
p.is-editor-empty:first-child::before {
  @apply text-gray-400;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/**
 * Bubble menu
 */
.bubble-menu {
  @apply bg-slate-800 border border-solid border-slate-700 rounded-md;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;

  button {
    @apply bg-transparent p-1;

    &:hover {
      @apply bg-slate-700;
    }

    &.is-active {
      @apply bg-slate-600;

      &:hover {
        @apply bg-slate-600;
      }
    }
  }
}
